<h2>For Country</h2>
<hr>
<div class="row">
    <div class="col">
        <app-country-input (onEnter)="find($event)"
                            placeholder="find country..."
                            (onDebounce)=sug($event)></app-country-input>
    </div>
</div>
<ul *ngIf="showSug && termino!=''" class="list-group">
    <li *ngFor="let country of sugCountries"
    class="list-group-item list-group-item-action ">
      <a class="nav-link" [routerLink]="['/country',country.alpha2Code]"> {{country.name}}</a>
    </li>
    <li class="list-group-item list-group-item-action"
        (click)="find(termino)">
        <a class="nav-link"> 
            Buscar "{{termino}}""
        </a>
    </li>
</ul>

<hr>

<div *ngIf="isError && termino!=''" class="alert alert-danger">
    No found term {{termino}}
</div>

<div class="row" *ngIf="countries.length>0">
    <div class="col">
           <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>
